.App {
  text-align: center;
}

input, select, input, a, button {
  cursor: pointer;
}

/* ------- LANDING PAGE FONT ------- */

.playfair-font {
  font-family: 'Playfair Display', serif;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

.display-block {
display: block;
padding-left: 30px;
padding-right: 30px;
}

.inline-block {
  display: inline-block;
padding: 0px;
}

  
  /* ------- LANDING PAGE IMAGES ------- */
  
  .top-images {
    overflow: hidden;
    height: 400px; 
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: max-content;
  }

  .spacing-image {
    height: 100%;
    display: flex;
    overflow: hidden;
    padding: 17px;
  }


 .image-left img {
    width: 800px;
  }

  .dining-image .image-left {
    height: 800px;
    width: 400px;
  }


  .up-47-1 {
    margin-top: -39%;
    margin-left: auto;
    height: auto;
    width: auto;

  }

  .village-salad {
    margin: -20px;
  }

  .image-fluid {
    max-width: 100%; 
    object-fit: cover;
   
  }


  .dining-image {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: -20px -20px -20px -0px;

  }

  .dining-image-inner {
    justify-content: center;
    display: flex;
    position: static;
    height: 400px;
    width: 400px;
  }

  .dining-image-inner, .image-right {
    height: 300px;
    width: 300px;
     }





/* -------LANDING PAGE REUSABLE STYLES ------- */

a {
  text-decoration: none;

}

.margin-top-bottom {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-space-top {
  margin-top: 5px;
}

.flex-display {
  display: flex;
  justify-content: center;
}

.margin-right {
  margin-right: 5%;  
}

.break-line  {
  border-top: 1px solid rgb(141, 138, 138); 
  border-bottom: 1px solid rgb(141, 138, 138); 
  padding: 10px; 
  opacity: 0.7;

}

.top-line {
  border-top: 1px solid rgb(141, 138, 138); 
  border-bottom: 1px solid rgb(141, 138, 138); 
  padding: 10px; 
  margin: 40px;
}

.divider {
  border: 0.01 solid #000; 
  margin: 40px;
}

.bottom-line {
  border-bottom: 1px solid rgb(141, 138, 138); 
  padding: 10px; 
  margin: 10%;

}

.font-xsmall {
  font-size: x-small;
}

.font-small {
  font-size: small;
}

.font-medium {
  font-size: medium;
}

.font-large {
  font-size: large;

}

.full-border {
    border-top: 1px solid rgb(144, 144, 168); 
    border-bottom: 1px solid rgb(144, 144, 168); 
    border-left: 1px solid rgb(144, 144, 168);
    height: 3.5vh;
}

.end-of-form-border {
  border-right: 1px solid rgb(144, 144, 168);

}


/* ------- LANDING PAGE CONTAINER ------- */

.landing-page-container {
  background-image: url(/public/images/white-wood.jpeg);

  height: 100%;

 
}

/* ------- LANDING PAGE NAV ------- */

.nav-container {
  width: 100%;
  top: 0;
  left: 0;
  margin: 0px;
  border-top: 1px;
  border-width: 1px;
  border-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: url(/public/images/white-wood.jpeg);
  position: fixed;
  }
  
  .nav-container ul {
    padding: 0px;
  }

  
  
  .nav-list {
    list-style: none;
  }

  .nav-list a {
    margin: auto;
    color: black;
  }

  .nav-list li:hover {
    background-color: #aaadb2;
 
  }

  .nav-items {
  display: flex;
   align-items: center;
   font-size: small;
   padding-left: 30px; 
   padding-right: 30px; 
   height: 20px;
   margin-top: 5%;
   cursor: pointer;
  }


/* ------- LANDING PAGE RESERVATION FORM ------- */

  .reservation-form {
    padding-bottom: 15px; 
    max-width: 100%;
  }

  .reservation-form input {
    width: 200px;
    border-style: none;
    text-align: center;
    padding: auto;
    margin: auto;
 
  }

  .reservation-form select {
        border-style: none;
        text-align: center;
        padding: auto;
        margin: auto;
        background-color: transparent;
        position: static;
      }



  .counter {
    width: 200px;
    text-align: center;

  }

  .reservation-form-button {
    background-color: #10213e;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;

    height: 100%;
    width: 25vh;
  }

  .reservation-button {
    background-color: #10213e;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 100%;
    width: 25vh;
  padding: 10px;

  }

  .reservation {
    padding: 0px;
  }
  .reservation-button a {
    color: white;
  }


/* ------- LANDING PAGE GROUP DINING------- */

  .group-dining-container  {
    height: 200px;
  }

  .group-dining-container {
    margin-top: 10%;
  }

  .content-container {
    height: 200px;
  }

/* ------- LANDING PAGE FOOTER ------- */
.footer-container {
  bottom: 0px;
  height: 25%;
  width: 100%;
  left: 0;
  margin: 0px;
  padding: 10px;


 
}

.footer-background  {
  background-image: url(/public/images/Aba-wood-1.jpg);
  background-position: right;
  background-attachment: fixed;

}

.footer-list a {
  text-decoration: none;
  color: aliceblue;
  
}

.hours-locations-container h3 {
  text-decoration: none;
  color: aliceblue;

}

.footer-list li {
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.footer-container ul {
  list-style-type: none;
 margin-top: 5%;
 margin-bottom: 0px;
 padding-left: 0px;
}

.locations {
  padding-top: 1px;
}

.phone-number {
  padding-top: 20px;
  color: white;
}

.phone-number a {
  color: white;
}
  
.hours-locations-container {
  margin-left: 50%;
  margin-bottom: 10%;
  column-count: 2;
  column-gap: 0;
  color: aliceblue;
  flex-direction: column; 
  align-items: center; 
  text-align: left;

}

.hours-locations-container ul {
padding-left: 0;
}

.contact-info {
  color: white;
}

/* ------- LANDING PAGE LOGO ------- */



.aba-logo-image-2 {
  height: 104px;
  width: 97px;
  padding-left: 3px;
  padding-top: 5px;
  position:absolute;
  opacity: 0.5;
  }

  .aba-logo-image {
    height: 100px;
    width: 100px;
    
    }



/* LANDING PAGE RESERVATION POPUP*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;

}

.popup-inner {
  position: relative;
  padding: 100px;
  width: 20%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  background-image: url(/public/images/white-wood.jpeg);
}

.popup-inner .close-btn {
position: absolute;
top: 10px;
right: 15px;
}


/* ------- LANDING PAGE MEDIA QUERIES ---------- */

  /* LANDING PAGE MEDIA QUERIES max-width: 768px */

@media only screen and (max-width: 768px) {

  .aba-logo-image {
    height: 41px;
    width: 41px;
  }
  .aba-logo-image-2 {
    height: 42px;
    width: 42px;
    padding-left: 0.5px;
    padding-top: 2px;
  }
  
  .bottom-line {
    margin: 3%;
  }

  .content-container .flex-display {
    display: block;
  }
  .counter {
    width: 90px;
  }  

  .dining-image-inner {
    justify-content: center;
    display: flex;
    position: static;
    height: 300px;
    width: 400px;
  
  }

  .dining-image img {
    height: 200px;
    margin: auto;
  }

  .dining-image, .image-left {
    margin: 0px;
  }

  .divider {
    margin: 20px;
  }

  .font-large  {
    font-size: small;
  }
  .font-small {
    font-size: x-small;
  }
  .font-medium {
    font-size: small;
  }

  .footer-container {
    height: 25%;
    padding: 0;
  }

  .footer-list {
    font-size: x-small;
  }

  .footer-list li {
    padding: 5px;
  }

  .footer-background  {
    background-size: cover;
   
   }

   .flex-display {
    display: flex;
    justify-content: center;
  }

  .nav-container {
    padding-bottom: 10px;

  }
  .nav-items a {
    font-size: x-small;
    padding: 0px;
  }

  .nav-list {
    padding-top: 10px;
    margin: auto;
  }

  .nav-items {
    padding: 5px;

  }

  .hours-locations-container {
    font-size: x-small;

    
  }

  .hours-locations-container p {
    font-size: xx-small;
  }

  .image-fluid img {
    height: 200px;
    margin: auto;
  }

  .image-left {
    height: 200px;
  }

  .image-left img {
    overflow: hidden;
    height: 500px;

  }

  .popup-inner {
    width: 30%;
  }

 .reservation-form input {
   width: 88px;
   border-style: none;
   text-align: center;
   padding: 1px;
   margin: auto;
     
  }

  .reservation-form input {
    width: 90px;
  }

  .spacing-image {
    padding: 2px;
    
  }

  .top-line {
    margin: 20px;
  }

  .top-images {
  height: 100px; 
  padding: 5px;
  margin-top: 20%;
  }

  .reservation-button {
    background-color: #10213e;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 100%;
    width: 20vh;
    padding: 10px;
  }


  .village-salad {
    margin: 0px;
    padding-left: 5px;
  }

}

  /* LANDING PAGE MEDIA QUERIES min-width: 768px */

@media only screen and  (min-width: 786px){
  .dining-image-inner {

    width: 350px;
  }

  .dining-image {
    margin: -40px -40px -40px 0px;
    padding: 10px;
  }

  .top-line {
    margin: 100px;
  }

  .top-images {
    margin-top: 15%;
    margin-right: 10px;

  }

}






