.App {
  text-align: center;
}

/* ------- LANDING PAGE FONT ------- */

.playfair-font {
  font-family: 'Playfair Display', serif;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

.display-block {
display: block;
padding: 20px;
}
  
  /* ------- LANDING PAGE IMAGES ------- */
  


  .top-images {
    margin-top: 10%;
    overflow: hidden;
    height: 400px; 
    align-items: center;
  }
  
  .spacing-image {
    height: 100%;
    display: flex;
    overflow: hidden;
    padding: 5px;
  }


 .image-left img {
    width: 800px;
  }

  .group-dining-image .image-left {
    height: 800px;
    width: 400px;
  }


  .up-47-1 {
    margin-top: -50%;

    margin-left: auto;
    height: auto;
    width: auto;

  }



  .image-fluid {
    max-width: 100%; 
    object-fit: cover;
   
  }





  .group-dining-image {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: -20px -20px -20px -0px;

  }

  .group-dining-image-inner {
    justify-content: center;
    display: flex;
    position: relative;
    height: 400px;
    width: 400px;
  }

  .aba-logo-image {
    height: 100px;
    width: 100px;
    
    }

/* -------LANDING PAGE REUSABLE STYLES ------- */

a {
  text-decoration: none;
}

.margin-top-bottom {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-space-top {
  margin-top: 5px;
}

.flex-display {
  display: flex;
  justify-content: center;
}

.margin-right {
  margin-right: 5%;
}



.break-line  {
  border-top: 1px solid rgb(141, 138, 138); 
  border-bottom: 1px solid rgb(141, 138, 138); 
  padding: 10px; 
  opacity: 0.7;

}

.top-line {
  border-top: 1px solid rgb(141, 138, 138); 
  border-bottom: 1px solid rgb(141, 138, 138); 
  padding: 10px; 
  margin: 40px;
}

.divider {
  border: 0.01 solid #000; /* You can adjust the border style, color, and thickness as needed */
  margin: 40px;
}

.bottom-line {
  border-bottom: 1px solid rgb(141, 138, 138); 
  padding: 10px; 
  opacity: 0.7;
}

.font-small {
  font-size: x-small;
}

.font-medium {
  font-size: medium;
}

.font-large {
  font-size: x-large;
}

.full-border {
    border-top: 1px solid rgb(141, 138, 138); 
    border-bottom: 1px solid rgb(141, 138, 138); 
    border-left: 1px solid rgb(141, 138, 138);
    height: 3.5vh;
}

.end-of-form-border {
  border-right: 1px solid rgb(141, 138, 138);

}


/* ------- LANDING PAGE CONTAINER ------- */

.landing-page-container {
  background-image: url(/public/images/white-wood.jpeg);

  height: 100%;

 
}

/* ------- LANDING PAGE HEADER ------- */


.header-container {
  width: 100%;
  padding: 0px;
  top: 0;
  left: 0;
  margin: 0px;
  border-top: 1px;
  border-width: 1px;
  border-color: black;
  }
  
  .header-container ul {
    padding: 0px;
  }
  
  .header-list {
    list-style: none;
    
  }

  .header-list a {
  
    color: #10213e;
  }


  
  .header-items {
display: flex;
align-items: center;
    font-size: small;
  padding-left: 30px; 
  padding-right: 30px; 
height: 20px;
margin-top: 5%;

  }




  .header-list li:hover {
    background-color: #aaadb2;
    cursor: pointer;
      }

      .header-items .margin-right li {
        background-color: transparent;
      }

  
  .header-items a {
    margin: auto;
    cursor:pointer;

  }

  /* LANDING PAGE RESERVATION FORM */

  .landing-page-reservation-form {
    padding-bottom: 15px; 

    max-width: 100%;
  }

  .landing-page-reservation-form input {

    border-style: none;
  }

  .landing-page-reservation-form-button {
    background-color: #10213e;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    width: 25vh;
  }

  .landing-page-button {
    background-color: #10213e;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    width: 25vh;
    padding: 10px;

  }

  .landing-page-reservation-form 

    /* LANDING PAGE GROUP DINING */

  .group-dining-container {
    height: 200px;
  }



  .group-dining-content-container {
    height: 200px;
  }

/* ------- LANDING PAGE FOOTER ------- */
.landing-page-footer-container {
  bottom: 0px;
  height: 25%;
  width: 100%;
  left: 0;
  margin: 0px;
  padding: 10px;
  background-image: url(/public/images/Aba-wood-1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.footer-list a {
  text-decoration: none;
  color: aliceblue;
  
}

.hours-locations-container h3 {
  text-decoration: none;
  color: aliceblue;

}



.footer-list li {
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.landing-page-footer-container ul {
  list-style-type: none;
 margin-top: 5%;
 margin-bottom: 0px;
}


.hours-locations-container {
  margin-left: 50%;
  margin-bottom: 10%;
  column-count: 2;
  column-gap: 0;
  color: aliceblue;
  flex-direction: column; 
  align-items: center; 
}

.hours-locations-container ul {
padding-left: 0;
}

.contact-info {
  color: white;
}

/* ------- LANDING PAGE LOGO ------- */



.aba-logo-image-2 {
  height: 104px;
  width: 97px;
  padding-left: 3px;
  padding-top: 5px;
  position:absolute;
  opacity: 0.5;
  }



/* LANDING PAGE RESERVATION POPUP*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;

}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 20%;
  max-width: 600px;
  background-color: white;

  border-radius: 5%;
}

.popup-inner .close-btn {
position: absolute;
top: 10px;
right: 15px;
}

/* ------- LANDING PAGE MEDIA QUERIES ---------- */

/* LANDING PAGE HEADER MEDIA QUERIES */

@media only screen and (max-width: 786px) {
  .header-container {
    padding: 0;

  }
  .header-items a {
    font-size: x-small;
    padding: 0px;
  }
  .aba-logo-image {
    height: 40px;
    width: 40px;
  }
  .aba-logo-image-2 {
    height: 42px;
    width: 42px;
    padding-left: 0.5px;
    padding-top: 2px;
  }

  .header-list {
    padding: 0px;
    margin: auto;
  }

  .header-items {
    padding: 5px;

  }

  .top-line {
    margin: 20px;
  }

  .divider {
    margin: 20px;
  }



}



/* LANDING PAGE FONT */

@media only screen and (max-width: 768px) {
  .font-large  {
    font-size: small;
  }
  .font-small {
    font-size: x-small;
  }
  .font-medium {
    font-size: small;
  }

}

/* LANDING PAGE BUTTONS */


@media only screen and (max-width: 768px) {
  .landing-page-button {

    background-color: #10213e;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    width: 20vh;
    padding: 10px;
  }

}


  /* LANDING PAGE FOOTER MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .landing-page-footer-container {
    height: 25%;
    padding: 0;
  }
  .hours-locations-container {
    font-size: x-small;
    margin-left: 0;
    
  }

  .hours-locations-container p {
    font-size: xx-small;
  }
  .flex-display {
    display: flex;
    justify-content: center;
  }
  .footer-list {
    font-size: x-small;
    padding-top: 19.9%;
    
  }

  .group-dining-content-container .flex-display {
    display: block;
  }

  .footer-list li {
    padding: 5px;
  }

  .group-dining-image-inner {
    justify-content: center;
    display: flex;
    position: relative;
  
  }


.display-block {
  display: block;
  padding: 0px;
  }

  .top-images {

    height: 200px; 

  }



}

@media only screen and  (min-width: 786px){
  .group-dining-image-inner {
    height: 550px;
    width: 350px;
  }
  .top-line {
    margin: 100px;
  }
  .top-images {
    margin-top: 5%;
  }
  .group-dining-image {
    margin: -40px -40px -40px 0px;
  }
}


